[Unit]
Description=ucanet DNS service
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
WorkingDirectory=/home/ucanet
ExecStart=/usr/bin/python3 /home/ucanet/ucanet-server.py

[Install]
WantedBy=multi-user.target
