[Unit]
Description=ucanet DNS service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/ucanet/ucanet-registry
ExecStart=/usr/bin/python3 /home/ucanet/ucanet-server.py
PIDFile=/var/run/ucanet.pid

[Install]
WantedBy=multi-user.target
